.transaction {
    height: 30px;
}
.transaction > td > a > img {
    width: 20px;
    height: 20px;
}
.transaction > .title > div {
    max-width: 450px;

    overflow: auto;
}
.transaction > .categories > div {
    overflow: auto;
}
.transaction > .cat {
    min-width: 150px;
}
.transaction > .amount {
    width: 70px;
}